{% extends "administrador/AdministradorBase.html" %}

{% load tags_html %}

{% block bread %}
<div id="breadcrumbs-wrapper">
    <div class="container">
        <div class="row" style="margin-bottom: 0px">
            <div class="col s12 m12 l12">
                <h5 class="breadcrumbs-title">Administrador</h5>
                <ol class="breadcrumbs">
                    <li><a style="color: #00bcd4;text-decoration:none" href="">Inicio</a></li>
                    <li class="active">Menu</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block informacion %}
    <p class="caption">Listado de todos los usuarios del sistema.</p>
    <div class="divider"></div>
{% endblock %}

{% block contenido %}

<h2>{% image_tag 'usuario.png' %} Opciones de Menu </h2>

<table class='striped bordered'>
	<tr>
		<th>ID</th>
		<th>Nombre</th>
		<th>Link Int</th>
		<th>Ultimo Cambio</th>
		<th>Opciones</th>
		
	</tr>

	{% for registro in lista %}
	<tr>
		<td> {{ registro.id }} </td>
		<td> {{ registro.nombre }} </td>
		<td> {{ registro.url }} </td>
		<td> {{ registro.updated|filtro_fecha }} </td>
		<td><a class= "green btn" href='{% url 'administrador:administrador_menu_edit' registro.id %}'><i class="material-icons">mode_edit</i></a>
		<a class= "red btn" href='{% url 'administrador:administrador_menu_edit' registro.id %}'><i class="material-icons">delete</i></a></td>

	</tr>

	{% endfor %}
</table>

<br />
<a class="blue btn" href='{% url 'administrador:administrador_menu_edit' 0 %}'><i class="material-icons">playlist_add</i>Nuevo</a>

{% endblock %}
